// Google Font
// @import 'https://fonts.googleapis.com/css?family=Playfair+Display';

$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$serif: serif;
$mono: Consolas, monaco, monospace;

// EXAMPLE

// @font-face {
//     font-family: 'icomoon';
//     font-weight: normal;
//     font-style: normal;
//
//     src: url('../assets/fonts/icomoon-solis.eot');
//     src: url('../assets/fonts/icomoon-solis.eot#iefix') format('embedded-opentype'),
//     url('../assets/fonts/icomoon-solis.ttf') format('truetype'),
//     url('../assets/fonts/icomoon-solis.woff') format('woff'),
//     url('../assets/fonts/icomoon-solis.svg') format('svg');
// }
