$green: #12A96C;
$blue: #3F24E1;
$pink: #E83F6F;
$red: #ff4136;

$grey: grey;
$lightgrey: #E4E4E4;

$main-colour      : $pink;
$secondary-colour : white;
$accent-colour    : $blue;
$text-dark        : #4A4A4A;
$text-light       : white;

$base-font-size: 16px;
$base-line-height: 1.5;

$ultra-light: 200;
$light: 300;
$normal: 400;
$bold: 600;

$success-colour   : #83CC61;
$error-colour     : #DE4242;

$bradius          : 2px;

$side-padding-small: 1.5rem;

$s-animation: 0.250s ease-in-out;
